.container {
  border-radius: 2rem;
  grid-column: col-start 3 / col-end 4;
  grid-row: row-start 3 / row-end 3;
  height: 20rem;

  /* Gradient */
  background: rgba(20, 20, 20, 0.05);
  background: linear-gradient(
    135deg,
    rgba(84, 84, 84, 0.15) 0%,

    rgba(150, 149, 149, 0.1) 100%
  );
  backdrop-filter: blur(60px);
  /* Shadow that works with transparency */
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2),
    inset 0 0 0 1px rgba(255, 255, 255, 0.1); // Ultra-subtle inner glow

  /* Hover State  */
  &:hover {
    background: linear-gradient(
      135deg,
      rgba(84, 84, 84, 0.1) 0%,
      rgba(150, 149, 149, 0.12) 100%
    );
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.25),
      inset 0 0 15px 2px rgba(255, 255, 255, 0.1);
    .content {
      &_icon {
        color: $soft-red;
      }
      &_text {
        &_3 {
          color: $soft-red;
        }
      }
    }
  }

  transition: all 0.2s cubic-bezier(0.32, -0.01, 0.57, 0.95);

  padding: 2rem;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    bottom: -70%;
    right: -60%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 90%;
    background-image: url("/images/element-tree.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 0.2;

    z-index: 0;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  &_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &_1 {
      color: $light-gray;
      font-size: 2.3rem;
      font-weight: 400;
    }
    &_2 {
      color: $light-gray;
      font-size: 3rem;
      font-weight: 500;
    }
    &_3 {
      color: $light-gray;
      font-size: 4.4rem;
      font-weight: 600;
    }
  }

  &_icon {
    color: $light-gray;
    font-size: 2.8rem;
  }
}
