.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal {
  background: rgba(20, 20, 20, 0.05);
  background: linear-gradient(
    135deg,
    rgba(84, 84, 84, 0.15) 0%,
    rgba(150, 149, 149, 0.2) 100%
  );
  backdrop-filter: blur(60px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2),
    inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  padding: 2rem;
  border-radius: 2rem;
  min-width: 40rem;
  max-width: 100rem;
  position: relative;
  min-height: 30rem;
  max-height: 60rem;
  margin: 2rem 2rem;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
  clip-path: inset(0 0 0 0 round 2rem);

  // Scrollbar pseudo-elements
  &::-webkit-scrollbar {
    width: 6px;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
  }

  // Media query
  @media (max-width: 1280px) {
    max-height: 50rem;
  }

  @media (max-width: $bp-medium) {
    max-height: 80rem;
  }

  // Hover state
  &:hover {
    background: linear-gradient(
      135deg,
      rgba(84, 84, 84, 0.1) 0%,
      rgba(150, 149, 149, 0.12) 100%
    );
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.25),
      inset 0 0 15px 2px rgba(255, 255, 255, 0.1);
  }
}

.close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 1rem;
  right: 2rem;
  font-size: 4rem;
  background: none;
  border: none;
  cursor: pointer;
  color: $light-gray;
}

.content {
  margin-top: 2rem;

  &_texts {
    &_title {
      color: $dark-gray;
      display: flex;
      justify-content: center;
      font-size: 4.4rem;
      font-weight: 600;
    }
  }

  &_tags {
    display: flex;
    justify-content: space-between;

    color: $light-gray;
    margin-top: 2rem;
    gap: 2rem;
    @media (max-width: $bp-medium) {
      gap: 1rem;
      flex-wrap: wrap;
    }

    &_head {
      font-size: 3rem;
      font-weight: 600;
      &_icon {
        font-size: 2.5rem;
        padding-top: 0.3rem;
        margin-right: 0.5rem;
      }
    }
    &_text {
      font-size: 1.8rem;
      font-weight: 400;

      &_link {
        text-decoration: none;
        font-size: 1.8rem;
        font-weight: 400;
        color: $light-gray;
        transition: all 0.2s cubic-bezier(0.32, -0.01, 0.57, 0.95);
        &:hover {
          color: $soft-red;
          font-size: 2rem;
        }
      }
    }

    &_col1 {
      width: 50rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    &_col2 {
      width: 50rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }

  // Paragraph
  &_paragraph {
    margin-top: 5rem;
    font-size: 2.4rem;
    color: $light-gray;
    font-weight: 500;
    &_features {
      margin-top: 2rem;
      font-weight: 700;
    }
    &_list {
      margin-left: 2rem;
    }
  }

  // Image
  &_img {
    margin-top: 5rem;
    max-width: 100rem;
    min-width: 40rem;
    overflow: hidden;
    height: 40rem;
    display: flex;
    justify-content: center;
    text-align: center;
    @media (max-width: $bp-medium) {
      height: 20rem;
    }
    &_show {
      width: 100%;
      height: 40rem;
      border-radius: 2rem;
      @media (max-width: $bp-medium) {
        height: 20rem;
      }
    }
  }
}
